<p id="notice"><%= notice %></p>

<h1><%= Especialidade.model_name.human(count: @especialidades.count) %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @especialidades.human_attribute_name(:poder)%></th>
      <th><%= @especialidades.human_attribute_name(:Tipos)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @especialidades.each do |especialidade| %>
      <tr>
        <td><%= t('especialidade.poder') %></td>
        <td><%= t('especialidade.tipo') %></td>
        <td><%= link_to t('links.show'), especialidade, class: "btn btn-primary" %></td>
        <td><%= link_to t('links.edit'), edit_especialidade_path(especialidade),  class: "btn btn-primary" %></td>
        <td><%= link_to t('links.destroy'), especialidade, method: :delete, data: { confirm: t('messages.confirm'), },  class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.specialty'), new_especialidade_path, class: "btn btn-primary" %>
