<p id="notice"><%= notice %></p>

<p>
  <strong>Poder:</strong>
  <%= @especialidade.poder %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @especialidade.tipo %>
</p>

<%= link_to 'Edit', edit_especialidade_path(@especialidade) %> |
<%= link_to 'Back', especialidades_path %>
