<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @especialidade.class.human_attribute_name(:poder) %>
    <%= text_field_tag nil, @especialidade.poder, class:"form-control", disabled:true %>
  </div>
  

  <div class="form-group">
    <%= label_tag nil, @especialidade.class.human_attribute_name(:tipo) %>
    <%= text_field_tag nil, @especialidade.tipo , class:"form-control", disabled:true %>  
  </div>


</form>

<%= link_to 'Edit', edit_especialidade_path(@especialidade), class:"btn btn-primary" %> |
<%= link_to 'Back', especialidades_path, class:"btn btn-primary" %>
