<%= form_with(model: cdz, local: true) do |form| %>
  <% if cdz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cdz.errors.count, "error") %> prohibited this cdz from being saved:</h2>

      <ul>
      <% cdz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome,class:"form-control", placeholder:"Cavaleiro" %>
  </div>
  

  <div class="form-group">
    <%= form.label :costelação %>
    <%= form.text_field :costelação, class:"form-control", placeholder:"Protetor" %> 
  </div>

  <div class="form-group">
    <%= form.label :idade %>
    <%= form.number_field :idade, class:"form-control", placeholder:"Anos" %> 
  </div>

  <div class="form-group">
    <%= form.label :foto %>
    <%= form.text_field :foto, class:"form-control", placeholder:"http://img.url" %>
    <%#= image_tag cdz.foto, size:"150x150" %> <!--codigo ruby -->
  </div>
  
  <div class="form-group">
    <%= form.label :especialidade_id %>
    <%= form.select("especialidade_id", @especialidade_options, { include_blank: 'Selecione..' }, class:"form-control") %>
    
    
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-primary" %>
  </div>
<% end %>


</br>
